
/*============ fonctions generales ===========*/
* {
    margin: 0;
    padding: 0;
    text-decoration :none;
  list-style: none;
    
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
}

/*============ section HEADER ET NAVBAR ===========*/
header{
 height: 30vh;
 width: 100VW;
 background-color: #ffffff;
}

.navbar {
 position :absolute;
padding: 50px;
display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
box-sizing: border-box ;
}

 .navbar a {
 color: black;
 
}

 .navbar .logo img{
   width: 60px;
   height : 60px;
  
}

 .navbar .nav-links ul{
 display: flex;
}

 .navbar .nav-links ul li{
 margin: 0 25px;
 
}


 .navbar .menu-hamburger {
 display: none;
 position : absolute;
 top: 50px;
 right: 50px;
 width: 35px;
}



@media screen and (max-width: 900px) {
 .navbar {
   padding : 0;
 }

 .navbar .logo {
   position :absolute;
   top: 50px;
   left: 50px;
 }
 .nav-links ul{
   display: flex;
   flex-direction: column;
   align-items: center;
 }
 
 .navbar .menu-hamburger{
   display: block;
 }

 .nav-links{
   top : 0;
   left: 0;
   position :absolute;
   background-color: rgba(0, 0, 0, 0.632);
   width:100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-left: -100%;
   transition: all 0.5s ease;
 }

 .navbar .nav-links ul li {
    margin : 20px 0px;
    font-size: 1.2em;
 }
}

 .mobile-menu {
    padding : 0;
    margin-left: 0px;
    flex-direction: column;
}

 .nav-links ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*============ section HERO===========*/
 .hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #2B6F72;
    flex-wrap: wrap;
   
  }

  .hero-content {
    margin-left: 70px;
  }
  
  .hero-title {
    color: white;
    font-size: 50px;
    margin-right: 20px;
    margin-bottom: 50px;
    order: 1;
  }
  
  .hero-image {
    max-width: 100%;
    height: auto;
    max-height: 500px;
    order: 2;
  }
  
  .hero-button {
    background-color: white;
    color: #2B6F72;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    order: 3;
  }
  
  
  @media (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }
  
    .hero-title {
        font-size: 1.5em;
        order: 1; /* Titre en premier */
    }
  
    .hero-image {
        order: 2; /* Image en deuxième */
        max-width: 100%;
        max-height: 200px;
    }
  
    .hero-button {
        order: 3; /* Bouton en troisième */
        font-size: 1em;
    }
  }
  


/*============ section CARD OFFRE ===========*/

 .offres {
    background-color: #EEE5E9;
    margin: 1em 0;
    padding: 30px;
    border-radius: 8px;
    
}
 .card-container{
    display: flex;
    justify-content: center;
    flex-wrap :wrap;
    margin-top: 100px;

}

 .card{
    width: 325px;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
}

 .card img{
    width: 100%;
    height: 250px;
}

 .card-content{
    padding: 16px;
    
}

 .card-content h3{
    font-size: 28px;
    margin-bottom: 8px;
}

 .card-content p{
    color: #666;
    font-size: 15px;
    line-height : 1.3;
}

 .card-content .bouton{
    display: inline-block;
    padding : 8px 16px;
    background-color: #333;
    text-decoration: none;
    border-radius : 20px;
    margin-top : 16px;
    color :#fff;

}



/*============ section AVIS ===========*/


 .testimonial-section {
    text-align: center;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    background-color: #2B6F72;
  }
  
  .carousel {
    position: relative;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .carousel-item {
    min-width: 33.33%;
    box-sizing: border-box;
    padding: 0 15px;
  }
  
  .testimonial-card {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .testimonial-footer {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  
  .testimonial-icon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: #ccc;
  }
  
  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    cursor: pointer;
    user-select: none;
  }
  
  .left-arrow {
    left: 0;
  }
  
  .right-arrow {
    right: 0;
  }
  
  /* Le Responsive des avis */
  @media (max-width: 1200px) {
    .carousel-item {
        min-width: 50%;
    }
  }
  
  @media (max-width: 768px) {
    .carousel-item {
        min-width: 100%;
    }
  }
  
/*============ section INFOS ===========*/
 .infos {
    background-color: #2B6F72;
    margin: 1em 0;
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


 .container1 {
    display: flex;
    max-width: 1200px;
    width: 100%;
    padding: 20px;
    background-color: #2B6F72; /* Adjust this color if needed */
}

 .info-icons {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
}

 .icon-box {
    text-align: center;
    color: white;
    margin: 20px 0;
}

 .icon {
    font-size: 40px;
    margin-bottom: 10px;
}


/*============ section FORMULAIRE ===========*/
 .contact-form {
    flex: 1;
    padding: 20px;
    background-color: #2B6F72;
    border-radius: 10px;
}

 .contact-form h2 {
    color: #ffffff;
}

 .contact-form p {
    color: #ffffff;
}

 .contact-form label {
    display: block;
    margin-top: 10px;
    color: #ffffff;
}

 .contact-form input, 
 .contact-form select, 
 .contact-form textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: #2B6F72;
    color: white;
}

 .contact-form button {
    padding: 10px 20px;
    border: #ffffff;
    background-color: white;
    color: #2B6F72;
    cursor: pointer;
    border-radius: 30px;
   
}

 .label {
    background-color: #2B6F72;
}

 .contact-form button:hover {
    background-color: #ffffff;
}

/*============ section QUALITE ===========*/

 .qualite {
    background-color: #EEE5E9;

}

 .container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

 .column {
    background-color: #EEE5E9;
    padding: 20px;
    text-align: center;
    width: 200px;
}

 .column img {
    max-width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
}

 .column h2 {
    font-size: 1.5em;
    margin: 10px 0;
}

 .column p {
    font-size: 1em;
    color: #333;
}

/*============ section SERVICE ===========*/

 .service {
    background-color: #2B6F72;

}

 .service h2{
    color: #E0E0E0;
}


 .container3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

 .column1 {
    background-color: #2B6F72;
    padding: 20px;
    text-align: center;
    width: 70px;
}

 .column1 img {
    max-width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
}

 .column1 h2 {
    font-size: 1em;
    margin: 10px 0;
    color: white;
}

/*============ section FOOTER ===========*/

footer {
    background-color: #3A4F5F;
    color: white;
    text-align: center;
    padding: 1em 0;
}
